/* HEADER */
header{
    padding: 0 20px;
}
ul{
    list-style-type: none;
}
a.header_link_text{
    color: black;
    text-decoration: none;
    display: inline-block;
}
li.selected{
    border-bottom: 2px solid blue;
}
li.selected > a{
    color: blue;
}

/* MAIN */
main a{
    text-decoration: none;
}

/* FOOTER */
footer{
    background-color: #f5f5f5;
}
a.footer_link_text{
    color: grey;
    text-decoration: none;
}