header{
    padding: 0 20px;
}
ul{
    list-style-type: none;
}
a.header_link_text{
    color: black;
    text-decoration: none;
    display: inline-block;
}
li.selected{
    border-bottom: 2px solid blue;
}
li.selected > a{
    color: blue;
}

main a{
    text-decoration: none;
}